# Conclusion:

- Import data from file 'postings_v1.csv'
- Added new field 'has_company_profile' that has bolean value; is 'Company_Profile' field has Value
- Dropped unnecessary fields 'job_id', 'location', 'company_profile', 'department'
- created new CSV 'postings_v2.csv' file with modified data

# Import Libraries & Packages

In [1]:
import pandas as pd
import numpy as np

# Import Dataset

In [2]:
df = pd.read_csv("./postings_v1.csv")
df.head(3)

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,...,employment_type,required_experience,required_education,industry,function,fraudulent,Country,State,City,has_company_profile
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,...,Other,Internship,NaN,NaN,Marketing,0,US,NY,New York,1
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,...,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0,NZ,,Auckland,1
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,...,NaN,NaN,NaN,NaN,Assistant,0,US,IA,Wever,1

In [3]:
df.shape

(17880, 22)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15185 non-null  object
 8   benefits             10670 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             17880 non-null  object
 17  fraudulent           17880 non-null  int64
 18  Country              17534 non-null  object
 19  State                17440 non-null  object
 20  City                 17440 non-null  object
 21  has_company_profile  17880 non-null  int64
dtypes: int64(6), object(16)
memory usage: 3.0+ MB

In [5]:
# Percentages of Null values in dataframe df
round(df.isnull().mean() * 100, 2)

job_id                  0.00
title                   0.00
location                1.94
department             64.58
salary_range           83.96
company_profile        18.50
description             0.01
requirements           15.07
benefits               40.32
telecommuting           0.00
has_company_logo        0.00
has_questions           0.00
employment_type        19.41
required_experience    39.43
required_education     45.33
industry               27.42
function                0.00
fraudulent              0.00
Country                 1.94
State                   2.46
City                    2.46
has_company_profile     0.00
dtype: float64

In [6]:
# dataset is unbalanced

#  total number of real and fake postings in dataframe
df['fraudulent'].value_counts()

0    17014
1      866
Name: fraudulent, dtype: int64

# feature: company_profile

In [8]:
df['has_company_profile'] = 0

In [9]:
size = df.shape[0]
for i in range(0, size):

    if not(pd.isnull(df.company_profile[i])):
        df.has_company_profile[i] = 1

C:\Users\maste\AppData\Local\Temp/ipykernel_23980/898229353.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.has_company_profile[i] = 1

In [10]:
df.has_company_profile.value_counts()

1    14572
0     3308
Name: has_company_profile, dtype: int64

In [11]:
# has created New field 'has_company_profile' thats has Zero Null Values
df.has_company_profile.isnull().sum()

0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15185 non-null  object
 8   benefits             10670 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             17880 non-null  object
 17  fraudulent           17880 non-null  int64
 18  Country              17534 non-null  object
 19  State                17440 non-null  object
 20  City                 17440 non-null  object
 21  has_company_profile  17880 non-null  int64
dtypes: int64(6), object(16)
memory usage: 3.0+ MB

# dropping fields

In [13]:
# Dropping unnecessary fields
df = df.drop(columns=['job_id', 'location', 'company_profile', 'department'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                17880 non-null  object
 1   salary_range         2868 non-null   object
 2   description          17879 non-null  object
 3   requirements         15185 non-null  object
 4   benefits             10670 non-null  object
 5   telecommuting        17880 non-null  int64
 6   has_company_logo     17880 non-null  int64
 7   has_questions        17880 non-null  int64
 8   employment_type      14409 non-null  object
 9   required_experience  10830 non-null  object
 10  required_education   9775 non-null   object
 11  industry             12977 non-null  object
 12  function             17880 non-null  object
 13  fraudulent           17880 non-null  int64
 14  Country              17534 non-null  object
 15  State                17440 non-null  object
 16  City                 17440 non-null  object
 17  has_company_profile  17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [14]:
# create new csv file

df.to_csv('postings_v2.csv', index=False)