# Conclusion:

- Import data from file 'postings_v2.csv'
- Added new field 'has_required_education' has boolean value, based on posting has 'required_education'
- Filled missing values to all other fields except 'salary_package'
- created new CSV file 'postings_v3.csv'

# Import Libraries & Packages

In [30]:
import pandas as pd
import numpy as np

# Import Dataset

In [31]:
df = pd.read_csv("./postings_v2.csv")
df.head(3)

,title,salary_range,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,Country,State,City,has_company_profile
0,Marketing Intern,NaN,"Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0,US,NY,New York,1
1,Customer Service - Cloud Video Production,NaN,Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0,NZ,,Auckland,1
2,Commissioning Machinery Assistant (CMA),NaN,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,Assistant,0,US,IA,Wever,1

In [32]:
df.shape

(17880, 18)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                17880 non-null  object
 1   salary_range         2868 non-null   object
 2   description          17879 non-null  object
 3   requirements         15185 non-null  object
 4   benefits             10670 non-null  object
 5   telecommuting        17880 non-null  int64
 6   has_company_logo     17880 non-null  int64
 7   has_questions        17880 non-null  int64
 8   employment_type      14409 non-null  object
 9   required_experience  10830 non-null  object
 10  required_education   9775 non-null   object
 11  industry             12977 non-null  object
 12  function             17880 non-null  object
 13  fraudulent           17880 non-null  int64
 14  Country              17534 non-null  object
 15  State                17440 non-null  object
 16  City                 17440 non-null  object
 17  has_company_profile  17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [34]:
# Percentages of Null values in dataframe df
round(df.isnull().mean() * 100, 2)

title                   0.00
salary_range           83.96
description             0.01
requirements           15.07
benefits               40.32
telecommuting           0.00
has_company_logo        0.00
has_questions           0.00
employment_type        19.41
required_experience    39.43
required_education     45.33
industry               27.42
function                0.00
fraudulent              0.00
Country                 1.94
State                   2.46
City                    2.46
has_company_profile     0.00
dtype: float64

In [52]:
# dataset is unbalanced

#  total number of real and fake postings in dataframe
df['fraudulent'].value_counts()

0    17014
1      866
Name: fraudulent, dtype: int64

## add new field is posting has required_education

In [51]:
df['has_required_education'] = 0

In [53]:
size = df.shape[0]
for i in range(0, size):

    if not(pd.isnull(df.required_education[i])):
        df.has_required_education[i] = 1

C:\Users\maste\AppData\Local\Temp/ipykernel_22136/90189344.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.has_required_education[i] = 1

In [57]:
# create new csv file

df.to_csv('postings_v3.csv', index=False)