# Import Libraries & Packages

In [1]:
import pandas as pd
import numpy as np

# Import Dataset

In [2]:
df = pd.read_csv("./fake_job_postings.csv")
df.head(3)

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0

In [3]:
df.shape

(17880, 18)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15185 non-null  object
 8   benefits             10670 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             11425 non-null  object
 17  fraudulent           17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [5]:
# Percentages of Null values in dataframe df
round(df.isnull().mean() * 100, 2)

job_id                  0.00
title                   0.00
location                1.94
department             64.58
salary_range           83.96
company_profile        18.50
description             0.01
requirements           15.07
benefits               40.32
telecommuting           0.00
has_company_logo        0.00
has_questions           0.00
employment_type        19.41
required_experience    39.43
required_education     45.33
industry               27.42
function               36.10
fraudulent              0.00
dtype: float64

In [6]:
# dataset is unbalanced

#  total number of real and fake postings in dataframe
df['fraudulent'].value_counts()

0    17014
1      866
Name: fraudulent, dtype: int64

# feature: location

In [8]:
# check Location

df['location'].isnull().sum()

346

In [9]:
df.location

0            US, NY, New York
1              NZ, , Auckland
2               US, IA, Wever
3          US, DC, Washington
4          US, FL, Fort Worth
                 ...
17875         CA, ON, Toronto
17876    US, PA, Philadelphia
17877         US, TX, Houston
17878           NG, LA, Lagos
17879       NZ, N, Wellington
Name: location, Length: 17880, dtype: object

In [10]:
df[['Country', 'State', 'City']] = ''

In [11]:
size = df.shape[0]

for i in range(0, size):
    if not(pd.isnull(df['location'][i])):
        splitValue = df['location'][i].split(',')
        if len(splitValue) == 1:
            df.Country[i] = splitValue[0]
        elif len(splitValue) == 2:
            df.Country[i] = splitValue[0]
            df.State[i] = splitValue[1]
        else:
            df.Country[i] = splitValue[0]
            df.State[i] = splitValue[1]
            df.City[i] = splitValue[2]

C:\Users\maste\AppData\Local\Temp/ipykernel_16116/3061902186.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Country[i] = splitValue[0]
C:\Users\maste\AppData\Local\Temp/ipykernel_16116/3061902186.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.State[i] = splitValue[1]
C:\Users\maste\AppData\Local\Temp/ipykernel_16116/3061902186.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.City[i] = splitValue[2]
C:\Users\maste\AppData\Local\Temp/ipykernel_16116/3061902186.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Country[i] = splitValue[0]

In [12]:
df.head(3)

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,...,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,Country,State,City
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,...,0,Other,Internship,NaN,NaN,Marketing,0,US,NY,New York
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,...,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0,NZ,,Auckland
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,US,IA,Wever

# feature: function

In [13]:
# function will match value of function/department with title
# if value found it will be returned that value OR returned False
def match_word(mylist, mytext):
    for word in mylist:
        if word.lower() in mytext.lower():
            return word.lower()
    return False

# To return all the values in the column Function / Job_Category
def getFunctionIndex(df):
    fi = df.function.value_counts().index
    return fi

In [16]:
size = df.shape[0]

for i in range(0, size):
#     if function value is missing
    if pd.isnull(df.function[i]):
        fi = getFunctionIndex(df)
#         if value from entire function range found in title store in match variable
        match = match_word(fi, df.title[i])
#         if match variable contains value False means, value did not match in previous step
        if (match == False):
            print ("Enter New Function, Job Category")
            print("index is:", i)
            print("Title is:", df.title[i])
#             manually assign new function name
            c = input("Enter here!")
            df.function[i] = c
        else:
            df.function[i] = match

In [17]:
df.function.isnull().sum()

0

# feature: company_profile

In [18]:
df['has_company_profile'] = 0

In [19]:
size = df.shape[0]
for i in range(0, size):

    if not(pd.isnull(df.company_profile[i])):
        df.has_company_profile[i] = 1

C:\Users\maste\AppData\Local\Temp/ipykernel_16116/898229353.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.has_company_profile[i] = 1

In [20]:
df.has_company_profile.value_counts()

1    14572
0     3308
Name: has_company_profile, dtype: int64

In [21]:
df.has_company_profile.isnull().sum()

0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15185 non-null  object
 8   benefits             10670 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             17880 non-null  object
 17  fraudulent           17880 non-null  int64
 18  Country              17880 non-null  object
 19  State                17880 non-null  object
 20  City                 17880 non-null  object
 21  has_company_profile  17880 non-null  int64
dtypes: int64(6), object(16)
memory usage: 3.0+ MB

# dropping fields

In [26]:
df = df.drop(columns=['job_id', 'location', 'company_profile', 'department'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                17880 non-null  object
 1   salary_range         2868 non-null   object
 2   description          17879 non-null  object
 3   requirements         15185 non-null  object
 4   benefits             10670 non-null  object
 5   telecommuting        17880 non-null  int64
 6   has_company_logo     17880 non-null  int64
 7   has_questions        17880 non-null  int64
 8   employment_type      14409 non-null  object
 9   required_experience  10830 non-null  object
 10  required_education   9775 non-null   object
 11  industry             12977 non-null  object
 12  function             11425 non-null  object
 13  fraudulent           17880 non-null  int64
 14  Country              17880 non-null  object
 15  State                17880 non-null  object
 16  City                 17880 non-null  object
 17  has_company_profile  17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [30]:
df = df.drop(columns=['salary_range'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                17880 non-null  object
 1   description          17880 non-null  object
 2   requirements         17880 non-null  object
 3   benefits             17880 non-null  object
 4   telecommuting        17880 non-null  int64
 5   has_company_logo     17880 non-null  int64
 6   has_questions        17880 non-null  int64
 7   employment_type      17880 non-null  object
 8   required_experience  17880 non-null  object
 9   required_education   17880 non-null  object
 10  industry             17880 non-null  object
 11  function             17880 non-null  object
 12  fraudulent           17880 non-null  int64
 13  Country              17880 non-null  object
 14  State                17880 non-null  object
 15  City                 17880 non-null  object
 16  has_company_profile  17880 non-null  int64
dtypes: int64(5), object(12)
memory usage: 2.3+ MB

# Apply below to fill missing values to train model and SMOTE

In [28]:
df['description'] = df['description'].fillna('No Description')
df['requirements'] = df['requirements'].fillna('Unknown Requirements')
df['benefits'] = df['benefits'].fillna('No Listed Benefits')
df['employment_type'] = df['employment_type'].fillna('Unknown')
df['required_experience'] = df['required_experience'].fillna('Unknown')
df['required_education'] = df['required_education'].fillna('Unknown')
df['industry'] = df['industry'].fillna('Unknown')
df['function'] = df['function'].fillna('Unknown')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                17880 non-null  object
 1   description          17880 non-null  object
 2   requirements         17880 non-null  object
 3   benefits             17880 non-null  object
 4   telecommuting        17880 non-null  int64
 5   has_company_logo     17880 non-null  int64
 6   has_questions        17880 non-null  int64
 7   employment_type      17880 non-null  object
 8   required_experience  17880 non-null  object
 9   required_education   17880 non-null  object
 10  industry             17880 non-null  object
 11  function             17880 non-null  object
 12  fraudulent           17880 non-null  int64
 13  Country              17880 non-null  object
 14  State                17880 non-null  object
 15  City                 17880 non-null  object
 16  has_company_profile  17880 non-null  int64
dtypes: int64(5), object(12)
memory usage: 2.3+ MB

# Import updated file

In [33]:
df = pd.read_csv("./postingwithSalary.csv")
df.head(3)

,title,salary_range,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,Country,State,City,has_company_profile
0,Marketing Intern,0,"Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,Unknown,0,1,0,Other,Internship,Unknown,Unknown,Marketing,0,US,NY,New York,1
1,Customer Service - Cloud Video Production,0,Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,Unknown,Marketing and Advertising,Customer Service,0,NZ,,Auckland,1
2,Commissioning Machinery Assistant (CMA),0,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,Unknown,0,1,0,Unknown,Unknown,Unknown,Unknown,Other,0,US,IA,Wever,1

# Process of Vectorization

In [36]:
import regex as re
import regex as re

df['title'] = df['title'].str.lower()
df['title'] = df['title'].apply(lambda x: re.sub(r'[^\w\d\s\']+', '', x))

df['description'] = df['description'].str.lower()
df['description'] = df['description'].apply(lambda x: re.sub(r'[^\w\d\s\']+', '', x))

df['requirements'] = df['requirements'].str.lower()
df['requirements'] = df['requirements'].apply(lambda x: re.sub(r'[^\w\d\s\']+', '', x))

df['benefits'] = df['benefits'].str.lower()
df['benefits'] = df['benefits'].apply(lambda x: re.sub(r'[^\w\d\s\']+', '', x))

df['employment_type'] = df['employment_type'].str.lower()
df['employment_type'] = df['employment_type'].apply(lambda x: re.sub(r'[^\w\d\s\']+', '', x))

df['required_experience'] = df['required_experience'].str.lower()
df['required_experience'] = df['required_experience'].apply(lambda x: re.sub(r'[^\w\d\s\']+', '', x))

df['required_education'] = df['required_education'].str.lower()
df['required_education'] = df['required_education'].apply(lambda x: re.sub(r'[^\w\d\s\']+', '', x))

df['industry'] = df['industry'].str.lower()
df['industry'] = df['industry'].apply(lambda x: re.sub(r'[^\w\d\s\']+', '', x))

df['function'] = df['function'].str.lower()
df['function'] = df['function'].apply(lambda x: re.sub(r'[^\w\d\s\']+', '', x))

df['Country'] = df['Country'].str.lower()
df['Country'] = df['Country'].apply(lambda x: re.sub(r'[^\w\d\s\']+', '', x))

df['State'] = df['State'].str.lower()
df['State'] = df['State'].apply(lambda x: re.sub(r'[^\w\d\s\']+', '', x))

df['City'] = df['City'].str.lower()
df['City'] = df['City'].apply(lambda x: re.sub(r'[^\w\d\s\']+', '', x))

In [37]:

#Tokenizing description series
import nltk 
from nltk.tokenize import word_tokenize

df['title'] = df['title'].apply(word_tokenize)
df['description'] = df['description'].apply(word_tokenize)
df['requirements']  = df['requirements'] .apply(word_tokenize)
df['benefits'] = df['benefits'].apply(word_tokenize)
df['employment_type'] = df['employment_type'].apply(word_tokenize)
df['required_experience'] = df['required_experience'].apply(word_tokenize)
df['required_education'] = df['required_education'].apply(word_tokenize)
df['industry'] = df['industry'].apply(word_tokenize)
df['function'] = df['function'].apply(word_tokenize)
df['Country'] = df['Country'].apply(word_tokenize)
df['State'] = df['State'].apply(word_tokenize)
df['City'] = df['City'].apply(word_tokenize)

In [38]:

#remove stopwords from description
from nltk.corpus import stopwords

stop_words = set(stopwords.words('english'))

df['title'] = df['title'].apply(lambda x: [word for word in x if word not in stop_words])
df['description'] = df['description'].apply(lambda x: [word for word in x if word not in stop_words])
df['requirements']  = df['requirements'] .apply(lambda x: [word for word in x if word not in stop_words])
df['benefits'] = df['benefits'].apply(lambda x: [word for word in x if word not in stop_words])
df['employment_type'] = df['employment_type'].apply(lambda x: [word for word in x if word not in stop_words])
df['required_experience'] = df['required_experience'].apply(lambda x: [word for word in x if word not in stop_words])
df['required_education'] = df['required_education'].apply(lambda x: [word for word in x if word not in stop_words])
df['industry'] = df['industry'].apply(lambda x: [word for word in x if word not in stop_words])
df['function'] = df['function'].apply(lambda x: [word for word in x if word not in stop_words])
df['Country'] = df['Country'].apply(lambda x: [word for word in x if word not in stop_words])
df['State'] = df['State'].apply(lambda x: [word for word in x if word not in stop_words])
df['City'] = df['City'].apply(lambda x: [word for word in x if word not in stop_words])

In [39]:

#join string back for analysis

def combine_words(words_list):
    # Combine the words into a single string with spaces
    combined_string = " ".join(words_list)
    
    return combined_string

df['title'] = df['title'].apply(combine_words)
df['description'] = df['description'].apply(combine_words)
df['requirements']  = df['requirements'] .apply(combine_words)
df['benefits'] = df['benefits'].apply(combine_words)
df['employment_type'] = df['employment_type'].apply(combine_words)
df['required_experience'] = df['required_experience'].apply(combine_words)
df['required_education'] = df['required_education'].apply(combine_words)
df['industry'] = df['industry'].apply(combine_words)
df['function'] = df['function'].apply(combine_words)
df['Country'] = df['Country'].apply(combine_words)
df['State'] = df['State'].apply(combine_words)
df['City'] = df['City'].apply(combine_words)

In [40]:
from sklearn.feature_extraction.text import CountVectorizer

In [41]:
cv = CountVectorizer(max_features=440)

df['title'] = cv.fit_transform( df['title'] ).toarray()
df['description'] = cv.fit_transform( df['description'] ).toarray()
df['requirements']  = cv.fit_transform( df['requirements'] ).toarray()
df['benefits'] = cv.fit_transform( df['benefits'] ).toarray()
df['employment_type'] = cv.fit_transform( df['employment_type'] ).toarray()
df['required_experience'] = cv.fit_transform( df['required_experience'] ).toarray()
df['required_education'] = cv.fit_transform( df['required_education'] ).toarray()
df['industry'] = cv.fit_transform( df['industry'] ).toarray()
df['function'] = cv.fit_transform( df['function'] ).toarray()
df['Country'] = cv.fit_transform( df['Country'] ).toarray()
df['State'] = cv.fit_transform( df['State'] ).toarray()
df['City'] = cv.fit_transform( df['City'] ).toarray()

# SMOTE

In [56]:
X = df[['title', 'description', 'requirements', 'benefits', 
        'employment_type', 'Country', 'function', 
        'telecommuting', 'has_company_logo', 'has_questions']]

y = df['fraudulent']

In [57]:
from collections import Counter
Counter(y)

Counter({0: 17014, 1: 866})

In [58]:
from imblearn.over_sampling import SMOTE
smo = SMOTE(random_state=42)
X_smo,y_smo = smo.fit_resample(X,y)

In [59]:
Counter(y_smo)

Counter({0: 17014, 1: 17014})

# Data Split

In [60]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_smo,y_smo, test_size = 0.2, random_state = 42)

# Building Model

In [67]:

from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

Adab = AdaBoostClassifier(DecisionTreeClassifier(), n_estimators = 5)
Adab.fit(X_train, y_train)

AdaBoostClassifier(estimator=DecisionTreeClassifier(), n_estimators=5)

In [68]:
print("score for training dataset:",Adab.score(X_train, y_train))
print("score for test dataset:",Adab.score(X_test, y_test))
print("predict:",Adab.predict(X_test))

score for training dataset: 0.7588715009918449
score for test dataset: 0.7618277990008816
predict: [0 0 0 ... 0 0 1]

# Neural Network

In [69]:
from keras.models import Sequential
from keras.layers import Dense

In [70]:
# Initialize model
model = Sequential()

# Add first layer with input dimension of 3 (number of features)
model.add(Dense(10, input_dim=10, activation='relu'))

# Add second layer
model.add(Dense(8, activation='relu'))

# Add output layer with sigmoid activation function
model.add(Dense(1, activation='sigmoid'))

# Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [71]:
# Train the model
model.fit(X_train, y_train, epochs=100, batch_size=10)

Epoch 1/100
2723/2723 [==============================] - 15s 4ms/step - loss: 0.5614 - accuracy: 0.7424
Epoch 2/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5382 - accuracy: 0.7551
Epoch 3/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5352 - accuracy: 0.7562
Epoch 4/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5337 - accuracy: 0.7568
Epoch 5/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5330 - accuracy: 0.7579
Epoch 6/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5323 - accuracy: 0.7571
Epoch 7/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5317 - accuracy: 0.7576
Epoch 8/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5313 - accuracy: 0.7573
Epoch 9/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5312 - accuracy: 0.7578
Epoch 10/100
2723/2723 [==============================] - 12s 5ms/step - loss: 0.5312 - accuracy: 0.7571
Epoch 11/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5309 - accuracy: 0.7576
Epoch 12/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5310 - accuracy: 0.7575
Epoch 13/100
2723/2723 [==============================] - 11s 4ms/step - loss: 0.5306 - accuracy: 0.7575
Epoch 14/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5306 - accuracy: 0.7580
Epoch 15/100
2723/2723 [==============================] - 12s 5ms/step - loss: 0.5303 - accuracy: 0.7583
Epoch 16/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5306 - accuracy: 0.7583
Epoch 17/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5302 - accuracy: 0.7576
Epoch 18/100
2723/2723 [==============================] - 15s 6ms/step - loss: 0.5306 - accuracy: 0.7583
Epoch 19/100
2723/2723 [==============================] - 12s 5ms/step - loss: 0.5303 - accuracy: 0.7579
Epoch 20/100
2723/2723 [==============================] - 17s 6ms/step - loss: 0.5305 - accuracy: 0.7578
Epoch 21/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5304 - accuracy: 0.7584
Epoch 22/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5302 - accuracy: 0.7582
Epoch 23/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5301 - accuracy: 0.7579
Epoch 24/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5304 - accuracy: 0.7582
Epoch 25/100
2723/2723 [==============================] - 12s 5ms/step - loss: 0.5302 - accuracy: 0.7580
Epoch 26/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5302 - accuracy: 0.7581
Epoch 27/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5300 - accuracy: 0.7576
Epoch 28/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5302 - accuracy: 0.7578
Epoch 29/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5302 - accuracy: 0.7580
Epoch 30/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5302 - accuracy: 0.7580
Epoch 31/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5300 - accuracy: 0.7575
Epoch 32/100
2723/2723 [==============================] - 12s 5ms/step - loss: 0.5299 - accuracy: 0.7582
Epoch 33/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5299 - accuracy: 0.7582
Epoch 34/100
2723/2723 [==============================] - 12s 5ms/step - loss: 0.5302 - accuracy: 0.7583
Epoch 35/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5299 - accuracy: 0.7585
Epoch 36/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5297 - accuracy: 0.7587
Epoch 37/100
2723/2723 [==============================] - 12s 5ms/step - loss: 0.5297 - accuracy: 0.7581
Epoch 38/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5298 - accuracy: 0.7580
Epoch 39/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5299 - accuracy: 0.7576
Epoch 40/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5299 - accuracy: 0.7581
Epoch 41/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5300 - accuracy: 0.7580
Epoch 42/100
2723/2723 [==============================] - 14s 5ms/step - loss: 0.5297 - accuracy: 0.7580
Epoch 43/100
2723/2723 [==============================] - 12s 5ms/step - loss: 0.5297 - accuracy: 0.7583
Epoch 44/100
2723/2723 [==============================] - 12s 5ms/step - loss: 0.5297 - accuracy: 0.7587
Epoch 45/100
2723/2723 [==============================] - 12s 5ms/step - loss: 0.5296 - accuracy: 0.7582
Epoch 46/100
2723/2723 [==============================] - 12s 5ms/step - loss: 0.5298 - accuracy: 0.7582
Epoch 47/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5299 - accuracy: 0.7581
Epoch 48/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5298 - accuracy: 0.7587
Epoch 49/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5298 - accuracy: 0.7578
Epoch 50/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5298 - accuracy: 0.7582
Epoch 51/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5299 - accuracy: 0.7582
Epoch 52/100
2723/2723 [==============================] - 11s 4ms/step - loss: 0.5297 - accuracy: 0.7582
Epoch 53/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5298 - accuracy: 0.7578
Epoch 54/100
2723/2723 [==============================] - 12s 5ms/step - loss: 0.5298 - accuracy: 0.7585
Epoch 55/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5295 - accuracy: 0.7582
Epoch 56/100
2723/2723 [==============================] - 11s 4ms/step - loss: 0.5298 - accuracy: 0.7581
Epoch 57/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5299 - accuracy: 0.7578
Epoch 58/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5297 - accuracy: 0.7585
Epoch 59/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5295 - accuracy: 0.7585
Epoch 60/100
2723/2723 [==============================] - 11s 4ms/step - loss: 0.5298 - accuracy: 0.7585
Epoch 61/100
2723/2723 [==============================] - 11s 4ms/step - loss: 0.5295 - accuracy: 0.7580
Epoch 62/100
2723/2723 [==============================] - 11s 4ms/step - loss: 0.5296 - accuracy: 0.7581
Epoch 63/100
2723/2723 [==============================] - 11s 4ms/step - loss: 0.5298 - accuracy: 0.7584
Epoch 64/100
2723/2723 [==============================] - 11s 4ms/step - loss: 0.5298 - accuracy: 0.7585
Epoch 65/100
2723/2723 [==============================] - 11s 4ms/step - loss: 0.5295 - accuracy: 0.7584
Epoch 66/100
2723/2723 [==============================] - 11s 4ms/step - loss: 0.5297 - accuracy: 0.7580
Epoch 67/100
2723/2723 [==============================] - 11s 4ms/step - loss: 0.5294 - accuracy: 0.7578
Epoch 68/100
2723/2723 [==============================] - 11s 4ms/step - loss: 0.5297 - accuracy: 0.7584
Epoch 69/100
2723/2723 [==============================] - 11s 4ms/step - loss: 0.5297 - accuracy: 0.7581
Epoch 70/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5295 - accuracy: 0.7581
Epoch 71/100
2723/2723 [==============================] - 11s 4ms/step - loss: 0.5295 - accuracy: 0.7581
Epoch 72/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5296 - accuracy: 0.7584
Epoch 73/100
2723/2723 [==============================] - 11s 4ms/step - loss: 0.5295 - accuracy: 0.7583
Epoch 74/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5295 - accuracy: 0.7588
Epoch 75/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5296 - accuracy: 0.7578
Epoch 76/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5296 - accuracy: 0.7582
Epoch 77/100
2723/2723 [==============================] - 12s 5ms/step - loss: 0.5293 - accuracy: 0.7578
Epoch 78/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5296 - accuracy: 0.7574
Epoch 79/100

2723/2723 [==============================] - 12s 4ms/step - loss: 0.5294 - accuracy: 0.7581
Epoch 80/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5295 - accuracy: 0.7583
Epoch 81/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5294 - accuracy: 0.7583
Epoch 82/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5294 - accuracy: 0.7588
Epoch 83/100
2723/2723 [==============================] - 12s 5ms/step - loss: 0.5296 - accuracy: 0.7585
Epoch 84/100
2723/2723 [==============================] - 12s 5ms/step - loss: 0.5293 - accuracy: 0.7582
Epoch 85/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5295 - accuracy: 0.7582
Epoch 86/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5294 - accuracy: 0.7583
Epoch 87/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5296 - accuracy: 0.7584
Epoch 88/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5295 - accuracy: 0.7586
Epoch 89/100
2723/2723 [==============================] - 12s 5ms/step - loss: 0.5296 - accuracy: 0.7580
Epoch 90/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5294 - accuracy: 0.7578
Epoch 91/100
2723/2723 [==============================] - 12s 5ms/step - loss: 0.5294 - accuracy: 0.7582
Epoch 92/100
2723/2723 [==============================] - 17s 6ms/step - loss: 0.5294 - accuracy: 0.7581
Epoch 93/100
2723/2723 [==============================] - 20s 7ms/step - loss: 0.5292 - accuracy: 0.7585
Epoch 94/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5294 - accuracy: 0.7586
Epoch 95/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5295 - accuracy: 0.7585
Epoch 96/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5294 - accuracy: 0.7587
Epoch 97/100
2723/2723 [==============================] - 13s 5ms/step - loss: 0.5295 - accuracy: 0.7584
Epoch 98/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5296 - accuracy: 0.7584
Epoch 99/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5293 - accuracy: 0.7586
Epoch 100/100
2723/2723 [==============================] - 12s 4ms/step - loss: 0.5292 - accuracy: 0.7591

In [72]:
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score

# Predict the target values for the test data
y_pred = model.predict(X_test)

# Convert the predicted probabilities to binary labels
y_pred = [1 if y>0.5 else 0 for y in y_pred]

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)

# Calculate confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Calculate precision
precision = precision_score(y_test, y_pred)

# Calculate recall
recall = recall_score(y_test, y_pred)

# Calculate F1 score
f1 = f1_score(y_test, y_pred)

print("Accuracy: ", accuracy)
print("Confusion Matrix: \n", cm)
print("Precision: ", precision)
print("Recall: ", recall)
print("F1 Score: ", f1)

213/213 [==============================] - 1s 3ms/step
Accuracy:  0.7609462239200705
Confusion Matrix:
 [[2717  679]
 [ 948 2462]]
Precision:  0.7838268067494428
Recall:  0.7219941348973608
F1 Score:  0.7516409708441459