# Import Libraries & Packages

In [1]:
import pandas as pd
import numpy as np

# Import Dataset

In [2]:
df = pd.read_csv("./fake_job_postings.csv")
df.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

# Remove unrelated features

In [3]:
# remove
# 1) job_id
df = df.drop(['job_id'], axis=1)
df.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

# Dataset Balancing

In [4]:
#  total number of real and fake postings in dataframe
df['fraudulent'].value_counts()

# two dataset to create: df_1 & df_2

0    17014
1      866
Name: fraudulent, dtype: int64

### Dataset# 1: 'df_1' reduce number of real postings

In [5]:
#  total number of real and fake postings in dataframe
df['fraudulent'].value_counts()

0    17014
1      866
Name: fraudulent, dtype: int64

In [6]:
# create two variables, one with all real posting 'df_true' and 'df_false' with all fake postings
df_real_postings = df[df['fraudulent'] == 0]
df_fake_postings = df[df['fraudulent'] == 1]

In [7]:
# total number of real postings in new dataframe
df_real_postings['fraudulent'].value_counts()

0    17014
Name: fraudulent, dtype: int64

In [8]:
# randomly pick 2000 real postings
df_real_postings_2000 = df_real_postings.sample(n=2000)
df_real_postings_2000.shape

(2000, 17)

In [9]:
# total number of fake postings in new dataframe
df_fake_postings['fraudulent'].value_counts()

1    866
Name: fraudulent, dtype: int64

In [10]:
# Use pandas.concat() to combine df_true_2000 and df_fake 
df_1 = pd.concat([df_real_postings_2000, df_fake_postings], ignore_index=True, sort=False)
df_1.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,"Sr. Manager, Global Solutions Architects","US, CA, Redwood City",IT,NaN,Equinix is the leading global interconnection ...,THE COMPANY: EQUINIX [NASDAQ:EQIX]Equinix is t...,EDUCATION: BS or MS in engineering or related ...,NaN,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Information Technology and Services,Information Technology,0
1,Indirect Lending Underwriter,"US, MA, Woburn",NaN,NaN,Outstanding Member Service Starts With Outstan...,"At USAlliance, we provide a challenging and ex...",Minimum of 3 years of experience within an ind...,Our people are our most valuable asset. We rec...,0,1,1,Full-time,Associate,Associate Degree,Banking,Finance,0
2,Yacht Manager,"FR, U, Antibes",Opearations,NaN,NaN,Hill Robinson is seeking an operational yacht ...,"Expensive yachting experience inclueding ISM, ...",NaN,0,0,1,Full-time,Entry level,Unspecified,NaN,Management,0
3,Product Analyst,"DE, BE, Berlin",Engineering,NaN,Babbel enables anyone to learn languages in an...,"We are looking for a Data Engineer (f/m, full-...",Experience writing SQL queries in a profession...,Tackle data intense challenges with a cloud-ba...,0,1,1,Full-time,Associate,NaN,E-Learning,Engineering,0
4,QA Specialist for web,"IL, ,",R&D,NaN,#URL_c59e83e0460115b6817e5222a26b0e0f821ffad0e...,We are looking for a talented QA to a successf...,Strong personality that can handle pressureKno...,Big plus if:Reddit UserKnows JSSocial Network ...,0,1,0,Full-time,Mid-Senior level,NaN,Computer Software,Quality Assurance,0

In [11]:
df_1.shape

(2866, 17)

# SMOTE in Python

In [12]:
df['fraudulent'].value_counts()

0    17014
1      866
Name: fraudulent, dtype: int64