# Import Libraries & Packages

In [1]:
import pandas as pd
import numpy as np

# Import Dataset

In [80]:
df = pd.read_csv("./fake_job_postings.csv")
df.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15185 non-null  object
 8   benefits             10670 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             11425 non-null  object
 17  fraudulent           17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [82]:
corr_matrix = df.corr()
corr_matrix

,job_id,telecommuting,has_company_logo,has_questions,fraudulent
job_id,1.000000,-0.004559,-0.014539,-0.087025,0.079872
telecommuting,-0.004559,1.000000,-0.019836,0.020345,0.034523
has_company_logo,-0.014539,-0.019836,1.000000,0.233932,-0.261971
has_questions,-0.087025,0.020345,0.233932,1.000000,-0.091627
fraudulent,0.079872,0.034523,-0.261971,-0.091627,1.000000

# Remove unrelated features

In [83]:
# remove
# 1) job_id
df = df.drop(['job_id'], axis=1)
df.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

# Dataset Balancing

In [84]:
#  total number of real and fake postings in dataframe
df['fraudulent'].value_counts()

# two dataset to create: df_1 & df_2

0    17014
1      866
Name: fraudulent, dtype: int64

### Checking missing values in numbers and percentages

In [85]:
# In number Null Values in df
df.isnull().sum()

title                      0
location                 346
department             11547
salary_range           15012
company_profile         3308
description                1
requirements            2695
benefits                7210
telecommuting              0
has_company_logo           0
has_questions              0
employment_type         3471
required_experience     7050
required_education      8105
industry                4903
function                6455
fraudulent                 0
dtype: int64

In [86]:
# Percentages of Null values in dataframe df
round(df.isnull().mean() * 100, 2)

title                   0.00
location                1.94
department             64.58
salary_range           83.96
company_profile        18.50
description             0.01
requirements           15.07
benefits               40.32
telecommuting           0.00
has_company_logo        0.00
has_questions           0.00
employment_type        19.41
required_experience    39.43
required_education     45.33
industry               27.42
function               36.10
fraudulent              0.00
dtype: float64

In [87]:
# create two variables, one with all real posting 'df_true' and 'df_false' with all fake postings
df_real_postings = df[df['fraudulent'] == 0]
df_fake_postings = df[df['fraudulent'] == 1]

In [88]:
# In number Null Values in real posting df
df_real_postings.isnull().sum()

title                      0
location                 327
department             11016
salary_range           14369
company_profile         2721
description                0
requirements            2541
benefits                6846
telecommuting              0
has_company_logo           0
has_questions              0
employment_type         3230
required_experience     6615
required_education      7654
industry                4628
function                6118
fraudulent                 0
dtype: int64

In [89]:
# Percentages of Null values in dataframe of Real posting
round(df_real_postings.isnull().mean() * 100, 2)

title                   0.00
location                1.92
department             64.75
salary_range           84.45
company_profile        15.99
description             0.00
requirements           14.93
benefits               40.24
telecommuting           0.00
has_company_logo        0.00
has_questions           0.00
employment_type        18.98
required_experience    38.88
required_education     44.99
industry               27.20
function               35.96
fraudulent              0.00
dtype: float64

In [90]:
# In number Null Values in fake posting df
df_fake_postings.isnull().sum()

title                    0
location                19
department             531
salary_range           643
company_profile        587
description              1
requirements           154
benefits               364
telecommuting            0
has_company_logo         0
has_questions            0
employment_type        241
required_experience    435
required_education     451
industry               275
function               337
fraudulent               0
dtype: int64

In [91]:
# Percentages of Null values in dataframe of Fake posting
round(df_fake_postings.isnull().mean() * 100, 2)

title                   0.00
location                2.19
department             61.32
salary_range           74.25
company_profile        67.78
description             0.12
requirements           17.78
benefits               42.03
telecommuting           0.00
has_company_logo        0.00
has_questions           0.00
employment_type        27.83
required_experience    50.23
required_education     52.08
industry               31.76
function               38.91
fraudulent              0.00
dtype: float64

## Analyzing features one by one to understand what technique to apply on

In [92]:
df.title

0                                         Marketing Intern
1                Customer Service - Cloud Video Production
2                  Commissioning Machinery Assistant (CMA)
3                        Account Executive - Washington DC
4                                      Bill Review Manager
                               ...
17875                     Account Director - Distribution
17876                                   Payroll Accountant
17877    Project Cost Control Staff Engineer - Cost Con...
17878                                     Graphic Designer
17879                           Web Application Developers
Name: title, Length: 17880, dtype: object

In [93]:
df.location

0            US, NY, New York
1              NZ, , Auckland
2               US, IA, Wever
3          US, DC, Washington
4          US, FL, Fort Worth
                 ...
17875         CA, ON, Toronto
17876    US, PA, Philadelphia
17877         US, TX, Houston
17878           NG, LA, Lagos
17879       NZ, N, Wellington
Name: location, Length: 17880, dtype: object

In [94]:
df['location'].str.split(',', expand=False)

0            [US,  NY,  New York]
1              [NZ,  ,  Auckland]
2               [US,  IA,  Wever]
3          [US,  DC,  Washington]
4          [US,  FL,  Fort Worth]
                   ...
17875         [CA,  ON,  Toronto]
17876    [US,  PA,  Philadelphia]
17877         [US,  TX,  Houston]
17878           [NG,  LA,  Lagos]
17879       [NZ,  N,  Wellington]
Name: location, Length: 17880, dtype: object

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                17880 non-null  object
 1   location             17534 non-null  object
 2   department           6333 non-null   object
 3   salary_range         2868 non-null   object
 4   company_profile      14572 non-null  object
 5   description          17879 non-null  object
 6   requirements         15185 non-null  object
 7   benefits             10670 non-null  object
 8   telecommuting        17880 non-null  int64
 9   has_company_logo     17880 non-null  int64
 10  has_questions        17880 non-null  int64
 11  employment_type      14409 non-null  object
 12  required_experience  10830 non-null  object
 13  required_education   9775 non-null   object
 14  industry             12977 non-null  object
 15  function             11425 non-null  object
 16  fraudulent           17880 non-null  int64
 17  Country              17880 non-null  object
 18  State                17880 non-null  object
 19  City                 17880 non-null  object
dtypes: int64(4), object(16)
memory usage: 2.7+ MB

In [144]:
# make copy of df

df_copy = df.copy()
df_copy[['Country', 'State', 'City']] = 'Missing Values'

In [147]:
size = df_copy.shape[0]

for i in range(0, size):
    print(i)
    splitValue = df_copy['location'][i].split(',')
    print(i, len(splitValue), splitValue)
    df_copy.Country[i] = splitValue[0]
    df_copy.State[i] = splitValue[1]
    df_copy.City[i] = splitValue[2]

0
0 3 ['US', ' NY', ' New York']
1
1 3 ['NZ', ' ', ' Auckland']
2
2 3 ['US', ' IA', ' Wever']
3
3 3 ['US', ' DC', ' Washington']
4
4 3 ['US', ' FL', ' Fort Worth']
5
5 3 ['US', ' MD', ' ']
6
6 3 ['DE', ' BE', ' Berlin']
7
7 3 ['US', ' CA', ' San Francisco']
8
8 3 ['US', ' FL', ' Pensacola']
9
9 3 ['US', ' AZ', ' Phoenix']
10
10 3 ['US', ' NJ', ' Jersey City']
11
11 3 ['GB', ' LND', ' London']
12
12 3 ['US', ' CT', ' Stamford']
13
13 3 ['US', ' FL', ' Orlando']
14
14 3 ['AU', ' NSW', ' Sydney']
15
15 3 ['SG', ' 01', ' Singapore']
16
16 4 ['IL', ' ', ' Tel Aviv', ' Israel']
17
17 3 ['GB', ' SOS', ' Southend-on-Sea']
18
18 3 ['US', ' NY', ' New York']
19
19 3 ['US', ' PA', ' USA Northeast']
20
20 3 ['US', ' TX', ' Austin']
21
21 3 ['NZ', ' N', ' Auckland']
22
22 3 ['AE', ' ', ' ']
23
23 3 ['US', ' CA', ' Carlsbad']
24
24 3 ['GB', ' LND', ' London']
25
25 3 ['US', ' NY', ' New York ']
26
26 3 ['SG', ' ', ' ']
27
27 3 ['AE', ' AZ', ' Abudhabi']
28
28 3 ['US', ' MO', ' St. Louis']
29
29 3 ['CA', ' ON', ' Toronto']
30
30 3 ['US', ' MA', ' Waltham']
31
31 3 ['US', ' KS', ' ']
32
32 3 ['US', ' WA', ' Everett']
33
33 3 ['US', ' CA', ' San Ramon']
34
34 3 ['GB', ' LND', ' ']
35
35 3 ['US', ' NY', ' Saint Bonaventure']
36
36 3 ['US', ' NY', ' Yonkers']
37
37 3 ['US', ' TX', ' HOUSTON']
38
38 3 ['IN', ' AP', ' Hyderabad']
39
39 3 ['US', ' IL', ' Chicago']
40
40 3 ['US', ' PA', ' Kutztown']
41
41 3 ['US', ' CA', ' Sacramento']
42
42 1 ['US']

C:\Users\maste\AppData\Local\Temp/ipykernel_14740/3952721377.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy.Country[i] = splitValue[0]
C:\Users\maste\AppData\Local\Temp/ipykernel_14740/3952721377.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy.State[i] = splitValue[1]
C:\Users\maste\AppData\Local\Temp/ipykernel_14740/3952721377.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy.City[i] = splitValue[2]

IndexError: list index out of range

In [141]:
df_copy.Country.unique()

array(['US', 'NZ', 'DE', 'GB', 'AU', 'SG', 'IL', 'AE', 'CA', 'IN',
       'Missing Values'], dtype=object)

In [142]:
df_copy.State.unique()

array([' NY', ' ', ' IA', ' DC', ' FL', ' MD', ' BE', ' CA', ' AZ', ' NJ',
       ' LND', ' CT', ' NSW', ' 01', ' SOS', ' PA', ' TX', ' N', ' MO',
       ' ON', ' MA', ' KS', ' WA', ' AP', ' IL', 'Missing Values'],
      dtype=object)

In [143]:
df_copy.City.unique()

array([' New York', ' Auckland', ' Wever', ' Washington', ' Fort Worth',
       ' ', ' Berlin', ' San Francisco', ' Pensacola', ' Phoenix',
       ' Jersey City', ' London', ' Stamford', ' Orlando', ' Sydney',
       ' Singapore', ' Tel Aviv', ' Southend-on-Sea', ' USA Northeast',
       ' Austin', ' Carlsbad', ' New York ', ' Abudhabi', ' St. Louis',
       ' Toronto', ' Waltham', ' Everett', ' San Ramon',
       ' Saint Bonaventure', ' Yonkers', ' HOUSTON', ' Hyderabad',
       ' Chicago', ' Kutztown', ' Sacramento', 'Missing Values'],
      dtype=object)

### Dataset# 1: 'df_1' reduce number of real postings

In [5]:
#  total number of real and fake postings in dataframe
df['fraudulent'].value_counts()

0    17014
1      866
Name: fraudulent, dtype: int64

In [6]:
# create two variables, one with all real posting 'df_true' and 'df_false' with all fake postings
df_real_postings = df[df['fraudulent'] == 0]
df_fake_postings = df[df['fraudulent'] == 1]

In [7]:
# total number of real postings in new dataframe
df_real_postings['fraudulent'].value_counts()

0    17014
Name: fraudulent, dtype: int64

In [8]:
# randomly pick 2000 real postings
df_real_postings_2000 = df_real_postings.sample(n=2000)
df_real_postings_2000.shape

(2000, 17)

In [9]:
# total number of fake postings in new dataframe
df_fake_postings['fraudulent'].value_counts()

1    866
Name: fraudulent, dtype: int64

In [10]:
# Use pandas.concat() to combine df_true_2000 and df_fake 
df_1 = pd.concat([df_real_postings_2000, df_fake_postings], ignore_index=True, sort=False)
df_1.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,"Sr. Manager, Global Solutions Architects","US, CA, Redwood City",IT,NaN,Equinix is the leading global interconnection ...,THE COMPANY: EQUINIX [NASDAQ:EQIX]Equinix is t...,EDUCATION: BS or MS in engineering or related ...,NaN,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Information Technology and Services,Information Technology,0
1,Indirect Lending Underwriter,"US, MA, Woburn",NaN,NaN,Outstanding Member Service Starts With Outstan...,"At USAlliance, we provide a challenging and ex...",Minimum of 3 years of experience within an ind...,Our people are our most valuable asset. We rec...,0,1,1,Full-time,Associate,Associate Degree,Banking,Finance,0
2,Yacht Manager,"FR, U, Antibes",Opearations,NaN,NaN,Hill Robinson is seeking an operational yacht ...,"Expensive yachting experience inclueding ISM, ...",NaN,0,0,1,Full-time,Entry level,Unspecified,NaN,Management,0
3,Product Analyst,"DE, BE, Berlin",Engineering,NaN,Babbel enables anyone to learn languages in an...,"We are looking for a Data Engineer (f/m, full-...",Experience writing SQL queries in a profession...,Tackle data intense challenges with a cloud-ba...,0,1,1,Full-time,Associate,NaN,E-Learning,Engineering,0
4,QA Specialist for web,"IL, ,",R&D,NaN,#URL_c59e83e0460115b6817e5222a26b0e0f821ffad0e...,We are looking for a talented QA to a successf...,Strong personality that can handle pressureKno...,Big plus if:Reddit UserKnows JSSocial Network ...,0,1,0,Full-time,Mid-Senior level,NaN,Computer Software,Quality Assurance,0

In [11]:
df_1.shape

(2866, 17)

# SMOTE in Python

In [12]:
df['fraudulent'].value_counts()

0    17014
1      866
Name: fraudulent, dtype: int64