![SenecaSDDS.jpg]()

# **Business Analytics**
## **Workshop5**

## Build Regression Model

In [1]:
# Loading neccesary libraries:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier, export_graphviz, plot_tree
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm 
from sklearn import preprocessing
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.metrics import pairwise
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.metrics import accuracy_score # Performance measure – Accuracy

In [2]:
import warnings
warnings.filterwarnings('ignore')
from pandas.plotting import parallel_coordinates
import matplotlib.pyplot as plt
plt.style.use('default')

In [3]:
%matplotlib inline
# without this the plots would be opened  in a new window (not browser)
# with this instruction plots will be included in the notebook

In [4]:
# Use %config InlineBackend.figure_format = 'retina' 
# after %matplotlib inline to render higher resolution images
%config InlineBackend.figure_format = 'retina'

In [ ]:
# If you wish to use Google colab, the following code will allow you to mount your Google Drive. Otherwise, comment on the following lines.
from google.colab import drive
drive.mount('/content/gdrive')

In [5]:
# To print multiple outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
# Set it to None to display all columns in the dataframe
pd.set_option('display.max_columns', None)

# Import dataset

In [6]:
#Reading the data from google drive
# data=pd.read_csv('gdrive/Add path to the data set /ws5data/clothing_sales.csv')
data=pd.read_csv("./clothing_sales.csv")
#Print that data imported successfully
print("Data imported successfully")

Data imported successfully

# View top 10 rows of dataset

In [7]:
#Write your code here

data.head(10)

   CC    Days  Web  Sales per Visit
0   0  333.00    0       184.230000
1   0  171.50    0        38.500000
2   0  213.00    0       150.326667
3   1   71.40    1       104.240000
4   1  145.00    0       782.080000
5   0  447.00    0        79.000000
6   0  118.00    0       172.990000
7   0   73.80    0        21.276000
8   0  276.00    0        87.480000
9   0   67.75    0        26.802500

# Exploratory data analysis

# View summary of dataset

In [8]:
#Write your code here

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1451 entries, 0 to 1450
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CC               1451 non-null   int64
 1   Days             1451 non-null   float64
 2   Web              1451 non-null   int64
 3   Sales per Visit  1451 non-null   float64
dtypes: float64(2), int64(2)
memory usage: 45.5 KB

In [9]:
data.describe()

                CC         Days          Web  Sales per Visit
count  1451.000000  1451.000000  1451.000000      1451.000000
mean      0.483115   169.528587     0.041351       112.073200
std       0.499887   141.516508     0.199169        90.493495
min       0.000000     4.000000     0.000000         3.306667
25%       0.000000    65.850000     0.000000        58.750000
50%       0.000000   128.000000     0.000000        89.000000
75%       1.000000   236.500000     0.000000       137.688750
max       1.000000   701.000000     1.000000      1331.945000

In [44]:
# split dataset
X = data[['CC', 'Days', 'Web']]
y = data['Sales per Visit']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

**Step5**. Use the data set to build a regression model, **Model1**,  to predict *Sales per Visit* using *Days between purchases*, *Credit card*, and *Web accounts*.

In [48]:
#Write your code here
model1 = LinearRegression().fit(X_train, y_train)
y_pred = model1.predict(X_test)

In [49]:
from sklearn.metrics import r2_score
r_squared = r2_score(y_test, y_pred)
print("R-squared score: {:.2f}".format(r_squared))

R-squared score: 0.07

**Step6**. Print the regression model, Model1,  summary 
### >>>>>Answer here<<<<<

In [50]:
#Write your code here
model1 = sm.OLS(y_train, X_train).fit()
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:        Sales per Visit   R-squared (uncentered):                   0.566
Model:                            OLS   Adj. R-squared (uncentered):              0.565
Method:                 Least Squares   F-statistic:                              502.8
Date:                Sat, 18 Feb 2023   Prob (F-statistic):                   4.45e-209
Time:                        14:24:56   Log-Likelihood:                         -6902.2
No. Observations:                1160   AIC:                                  1.381e+04
Df Residuals:                    1157   BIC:                                  1.383e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
CC            71.2682      4.446     16.031      0.000      62.546      79.991
Days           0.3426      0.014     25.215      0.000       0.316       0.369
Web           16.9035     13.766      1.228      0.220     -10.106      43.913
==============================================================================
Omnibus:                      874.790   Durbin-Watson:                   1.952
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            38643.548
Skew:                           3.009   Prob(JB):                         0.00
Kurtosis:                      30.628   Cond. No.                     1.11e+03
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 1.11e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

**Step7**. Use the data set to build a regression model, **Model2**,  to predict *Sales per Visit* using *Days between purchases* and *Credit cards*.

In [51]:
# split dataset
X = data[['CC', 'Days']]
y = data['Sales per Visit']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [52]:
#Write your code here
model2 = LinearRegression().fit(X_train, y_train)
model2.score(X_test, y_test)

0.06978428328662223

**Step8**. Print the regression model, **Model2**, summary 
### >>>>>Answer here<<<<<

In [53]:
#Write your code here
model2 = sm.OLS(y_train, X_train).fit()
model2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:        Sales per Visit   R-squared (uncentered):                   0.565
Model:                            OLS   Adj. R-squared (uncentered):              0.565
Method:                 Least Squares   F-statistic:                              753.1
Date:                Sat, 18 Feb 2023   Prob (F-statistic):                   3.05e-210
Time:                        14:26:29   Log-Likelihood:                         -6903.0
No. Observations:                1160   AIC:                                  1.381e+04
Df Residuals:                    1158   BIC:                                  1.382e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
CC            72.3783      4.354     16.624      0.000      63.836      80.920
Days           0.3426      0.014     25.210      0.000       0.316       0.369
==============================================================================
Omnibus:                      870.389   Durbin-Watson:                   1.952
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            38113.289
Skew:                           2.988   Prob(JB):                         0.00
Kurtosis:                      30.438   Cond. No.                         351.
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

**Step9**. Describe the similarities and differences between the regression model  "Model1" from Step3 and the regression model "Model2" from Step5.
### >>>>>Answer here<<<<<

Ans: Visible difference is of number of features we used in the models. Model1 contains three independent variables on other-hand Model2 has two independent variables. R-squared is same in both models but F-statistic is different in both model. Because Model has highter F-statistic 753.1 that means linear relationship between dependent and independent variables are significant in comparision to the Model1 as it has F-statistic 502.8.

Other than that, there is no significant different in models' summary. CC and Days' coef and p-value remains same and absence of variabe WEB did not impact it.

**Step10**. Suppose for the regression model  "Model1" from Step 5; someone said, *"There is no evidence for a relationship between Sales per Visit and whether the customer has a store web account."* How would you respond?
### >>>>>Answer here<<<<<

Ans: For regression model "Model1", it is observed that value of coefficient: 16.90 and p-value: 0.22. This shows there is a weak relationship between Sales perVisit and Web Account. So we can not support the argument of no relationship rather its a weak relation ship.

**Step11**. Suppose for the regression model  "Model2" from Step 7, someone said, *"There is no evidence for a relationship between Sales per Visit and whether the customer has a store credit card."* How would you respond?
### >>>>>Answer here<<<<<

Ans: I strongly disagree with the hypothesis of 'There is no evidence for relationship between sales per visit and store credit card". As the coef: 72.378 is a clear indication of strong relationship.

**Step12**. What are the values for 𝜃𝜃0, 𝜃𝜃1, and 𝜃𝜃2 for the regression model "Model2" from Step 7.
### >>>>>Answer here<<<<<

Ans:
𝜃𝜃0 = 0
𝜃𝜃1 = 0.34
𝜃𝜃2 = 72.37 

Thus:

sale per visit = 0.34(Days between purchases) + 72.37(Credit Card)

**Step11**. Use the answer from the previous step and the regression model "Model2" from Step 7 to complete this sentence:*"The estimated Sales per Visit equals…."*
### >>>>>Answer here<<<<<

The estimated Sales per Visit equals to 0.34 days between purchases sum with 72.37 is the credit card.